@use "../Base/custom" as *;
@use "../Abstracts/mixin" as *;
@use "../Abstracts/variables" as *;
@use "../Abstracts/breakpoints" as *;

.demo-section {
  padding: 4rem 0;
  @include breakpoints-max(small) {
    padding: 1rem 0;
  }
  .container {
    border-top: 1px solid $darkThemeTextColor;
    .row {
      margin-top: 0.8rem;
      &-heading {
        font-family: "Caveat", cursive;
      }
      // .box__wrapper {
      //   // &.hide .portfolio-box {
      //   //   // display: none;
      //   //   // animation: jumpOut 0.4s ease-in;
      //   // }
      //   // &.hide {
      //   //   display: none;
      //   // }
      //   // &.show .portfolio-box {
      //   //   // display: flex;
      //   //   animation: jumpIn 0.4s ease-in;
      //   // }
      //   &.show {
      //     display: flex;
      //   }
      // }
      .portfolio {
        &-box {
          position: relative;
          width: 100%;
          //   height: 15rem;
          //dùng ảnh bằng nhau hết thì chắc không bị lệch nữa
          max-height: 18.5rem;
          overflow: hidden;
          margin-bottom: 1.2rem;
          cursor: pointer;

          img {
            width: 100%;
            height: 100%;
            transition: all 0.8s;
          }

          &:hover {
            img {
              transform: scale(1.3);
            }
            .portfolio-info {
              opacity: 1;
              transition: all 0.8s;
              visibility: visible;
            }
          }
        }
        &-info {
          // transition: all 0.5s;
          background-color: rgba($primary, 0.65);
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          opacity: 0;
          visibility: hidden;

          .caption {
            a {
              text-decoration: none;
              color: $white;
            }
            text-align: center;
            @include centerAbs;
            h4 {
              text-transform: uppercase;
              display: block;
            }
          }
        }
      }
    }
  }

  &.dark-theme {
    background-color: $darkThemeBackground;

    .container {
      border-color: $white;
      @include breakpoints-max(small) {
        border: none;
      }
    }
    .demo-heading,
    .lead {
      color: white;
    }
    .heading-line {
      color: $white;
      &::before {
        background-color: $white;
      }
      &::after {
        background-color: $white;
      }
    }
    button {
      &:hover {
        color: $white;
      }
    }
    .portfolio {
      &-info {
        background-color: rgba($primary, 0.65);

        .caption {
          a {
            color: $darkThemeTextColor;
          }
        }
      }
    }
  }
}
