//white and grey
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

//main colors
$cyan-light: #0dcaf0;
$cyan-dark: #0fb0d0;
$mint: #a5fec0;

$text-color: rgb(119, 119, 119);
$primary: $cyan-light;
$secondary: $mint;

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
