$typewriterSpeed: 4s;
$typewriterCharacter: 32;
$header-height: 5rem;
$darkThemeBackground: rgb(40, 40, 40);
$darkThemeBackgroundMedium: rgb(93, 92, 92);
$darkThemeTextColor: rgb(44, 44, 44);
$textColor: rgb(0, 0, 0);
